<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <div>
        <a class="navbar-brand" href="login">Ingresar</a>
        <a class="navbar-brand" href="signup">Registrarse</a>
        <a class="navbar-brand" href="profile">Perfil</a>
        
        <!-- <form class="">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-4 my-sm-0" type="submit">Search</button>
        </form> -->

        </div>
    </div>
  </nav>

