<div class="my-auto" style="width: 500px;">
    <div class="card ">
        <div class="card-header ">
            Formulario de Ingreso
        </div>
        <div class="card-body" [hidden]="ingresado">
                <form (ngSubmit)="ingreso()" #loginForm="ngForm">
                <div class="mb-3">
                  <label for="exampleInputEmail1">Correo</label>
                  <input type="email" class="form-control" [(ngModel)]="login.email" name="email" id="email" placeholder="Ingrese su correo" required #name="ngModel">
                  <div [hidden]="name.valid" class="alert">
                    El correo es requerido.
                  </div>
    
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" class="form-control" [(ngModel)]="login.password"  name="password" id="password"  placeholder="Ingrese su contraseña" required #password="ngModel">
                  <div [hidden]="password.valid" class="alert">
                    La contraseña es requerida.
                  </div>

                  {{login.email}} {{login.password}}
                </div>
                <button type="submit" [disabled]="loginForm.form.invalid" class="btn btn-success">Ingresar</button>
            </form>
        </div>
        <div [hidden]="ingresado==false" >
           <h6> Bienvenido al sistema web {{login.email}} .</h6>
        </div>  

    </div>
</div>